# Python cache
__pycache__/
*.pyc
*.py[cod]
*$py.class


test.py

# Virtual environments
venv/
.env/
env/

# VS Code
.vscode/

# PyCharm
.idea/

# MacOS
.DS_Store

# Windows
Thumbs.db

# Logs
*.log

# Jupyter Notebook checkpoints
.ipynb_checkpoints/

# Distribution / packaging
build/
dist/
*.egg-info/

# Coverage reports
htmlcov/
.coverage
.coverage.*

# Mypy cache
.mypy_cache/

# Pytest cache
.pytest_cache/